{% extends "app/layout.html" %}

{% block title %}
    Scrape Emails
{% endblock %}

{% block body %}
<style type="text/css">
    #scrape{
        background-color: #325ae7;
        color: white
    }
    </style>
    <div id="top2">
        <h1>Your Lead Lists</h1>
        <p>View and download your verified emails.</p>
    </div>
    <div class="section-inner" id="listDiv"> 
        {% include 'app/lists_table.html' %}
    {% comment %} <table id="searches">
        <tr>
            <th>id</th>
            <th>Industry</th>
            <th>Location</th>
            <th>Emails Found</th>
            <th>Status</th>
        </tr>
        {% for search in searches %}
        <tr>
            <td><a href="{% url "list" search.id %}">list_{{search.id}}</a></td>
            <td>{{ search.industry }}</td>
            <td>{{ search.location }}</td>
            <td>
                {% if search.count == 0 %}
                    -
                {% else %}
                    {{ search.count }}
                {% endif %}
            </td>
            <td>{% if search.status == 4 %}
                    Complete
                {% elif search.status == 3 %}
                    Processing... <img style="width:16px; vertical-align:baseline" src="https://i.gifer.com/ZZ5H.gif">
                {% elif search.status == 2 %}
                    Scraping emails... <img style="width:16px; vertical-align:baseline" src="https://i.gifer.com/ZZ5H.gif">
                {% elif search.status == 1 %}
                    Finding contacts... <img style="width:16px; vertical-align:baseline" src="https://i.gifer.com/ZZ5H.gif">
                {% elif search.status == 0 %}
                    Finding leads... <img style="width:16px; vertical-align:baseline" src="https://i.gifer.com/ZZ5H.gif">
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table> {% endcomment %}
</div>
<script type="text/javascript">
    setInterval(function(){$("#listDiv").load("{% url 'lists' %}")},1000)
</script>
{% endblock %}