<table id="searchResults">
    <tr>
        <th>Industry</th>
        <th>{% if industry == "E-Commerce" %}Product{%else%}Location{%endif%}</th>
        <th>Company</th>
        <th>Contact Name</th>
        <th>Contact Title</th>
        {% comment %} <th>Snippet</th> {% endcomment %}
        <th>Double-Verified Email</th>
        {% comment %} <th>Address</th>
        <th>Link</th>
        <th>LinkedIn</th>
        <th>Count</th> {% endcomment %}
        {% comment %} <th>Order</th> {% endcomment %}
        {% comment %} <th>Name</th>
        <th>Title</th>
        <th>LinkedIn</th>
        <th>Verified Email</th>
        <th>Phone</th>
        <th>Valid</th>
        <th>ID</th> {% endcomment %}
    </tr>
    {% for result in searchResults %}
    {% if result.num_leads == 0%}
    {% if result.result.processed == False %}
    <tr style="background-color: whitesmoke">
{% else %} 
    <tr>
{% endif %}
    {% comment %} <td>{{result.search.industry}}</td>   {% endcomment %}
    
    <td>{% if result.result.search.industry == "ecom" %}E-Commerce{%else%}{{result.result.category}}{%endif%}</td>
    <td>{{result.result.search.location}}</td>   
    <td><a class="table-link" href="http://www.{{result.result.domain}}" target="_blank" rel="noopener noreferrer">{{result.result.title}}</a></td>
    <td></td>
    <td></td>
    <td></td>
    </tr>
    {% else %}
    {% for lead in result.leads %}
    {% if result.result.processed == False %}
        <tr style="background-color: whitesmoke">
    {% else %} 
        <tr {% if forloop.first %}style="border-top:2px solid #ddd"{% endif %}>
    {% endif %}
        {% comment %} <td>{{result.search.industry}}</td>   {% endcomment %}
        
        <td>{% if forloop.first %}{% if result.result.search.industry == "E-Commerce" %}E-Commerce{%else%}{{result.result.category}}{%endif%}{% endif %}</td>
        <td>{% if forloop.first %}{{result.result.search.location}}{% endif %}</td>   
        <td>{% if forloop.first %}<a class="table-link" href="http://www.{{result.result.domain}}" target="_blank" rel="noopener noreferrer">{{result.result.title}}</a>{% endif %}</td>
        <td>{{lead.name}}</td>
        <td>{{lead.title}}</td>
        {% if lead.verified_email != None %}
        <td style="background-color:#daf5e1">
        {% else %}
        <td>
        {% endif %}
            {{lead.verified_email}}
        </td>
    </tr>
    {% endfor %}
    {%endif%}
    {% endfor %}
</table>