<table id="searchResults">
    <tr>
        <th>Industry</th>
        <th>Location</th>
        <th>Company</th>
        <th>Contact Name</th>
        <th>Contact Title</th>
        {% comment %} <th>Snippet</th> {% endcomment %}
        <th>Double-Verified Email</th>
        {% comment %} <th>Address</th>
        <th>Link</th>
        <th>LinkedIn</th>
        <th>Count</th> {% endcomment %}
        {% comment %} <th>Order</th> {% endcomment %}
        {% comment %} <th>Name</th>
        <th>Title</th>
        <th>LinkedIn</th>
        <th>Verified Email</th>
        <th>Phone</th>
        <th>Valid</th>
        <th>ID</th> {% endcomment %}
    </tr>
    {% for result in searchResults %}
    {% if result.processed == False %}
        <tr style="background-color: whitesmoke">
    {% else %} 
        <tr>
    {% endif %}
        {% comment %} <td>{{result.search.industry}}</td>   {% endcomment %}
        
        <td>{{result.category}}</td>
        <td>{{result.search.location}}</td>   
        <td><a class="table-link" href="http://www.{{result.domain}}" target="_blank" rel="noopener noreferrer">{{result.title}}</a></td>
        <td>{{result.contact_name}}</td>
        <td>{{result.contact_title}}</td>
        {% if result.contact_verified_email != None %}
        <td style="background-color:#daf5e1">
        {% else %}
        <td>
        {% endif %}
            {{result.contact_verified_email}}
        </td>
    </tr>
    {% endfor %}
</table>