{% extends "app/layout.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load form_tags %}
{% block body %}
<style type="text/css">
  #change_password{
    background-color: #325ae7;
    color: white
}
  </style>
  <div id="top2">
    <h1>Change Your Password</h1>
</div>
<section class="section-inner">
  <div id="cols1">
  <h1 class="subtitle">{% trans "Change Password" %}</h1>
  <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% render_field form.oldpassword %}
    {% render_field form.password1 %}
    {% render_field form.password2 %}
    <div class="field is-grouped">
      <div class="control">
        <input class="button is-primary" type="submit" value="{% trans 'Change Password' %}">
      </div>
    </div>
  </form>
</div>
</section>
{% endblock %}
