{% load form_tags %}
<div class="columns">
  <div id="profile-picture" class="column is-one-quarter">
    <div>
      <br><br>
      <img class="avatar" src="{{ user.avatar_url }}">
      <div id='profile-upload-holder' class="has-text-centered">
        <label for="profile-upload" >
          <a id='profile-upload-label' style="color:#004499; text-decoration:underline; cursor:pointer">
            Change Picture
          </a>
        </label>
        <input id="profile-upload" type="file" accept="image/*"/>
      </div>
    </div>
  </div>
  <div class="column">
    <h1 class="subtitle">My Details</h1>
    <form method="post">
      {% csrf_token %}
      {% render_text_input form.email %}
      {% render_text_input form.first_name %}
      {% render_text_input form.last_name %}
      <div class="field is-grouped">
        <div class="control">
          <input class="button is-primary" type="submit" value="Save">
        </div>
      </div>
    </form>
  </div>
  <div class="column is-one-quarter">
    <br><br>User joined on: {{user.date_joined}}
  </div>
</div>
